In [1]:
from pycaret.datasets import get_data

In [2]:
data= get_data('energy')

,Relative Compactness,Surface Area,Wall Area,Roof Area,Overall Height,Orientation,Glazing Area,Glazing Area Distribution,Heating Load,Cooling Load
0,0.98,514.5,294.0,110.25,7.0,2,0.0,0,15.55,21.33
1,0.98,514.5,294.0,110.25,7.0,3,0.0,0,15.55,21.33
2,0.98,514.5,294.0,110.25,7.0,4,0.0,0,15.55,21.33
3,0.98,514.5,294.0,110.25,7.0,5,0.0,0,15.55,21.33
4,0.90,563.5,318.5,122.50,7.0,2,0.0,0,20.84,28.28

In [3]:
get_data('index')

,Dataset,Data Types,Default Task,Target Variable 1,Target Variable 2,# Instances,# Attributes,Missing Values
0,anomaly,Multivariate,Anomaly Detection,NaN,NaN,1000,10,N
1,france,Multivariate,Association Rule Mining,InvoiceNo,Description,8557,8,N
2,germany,Multivariate,Association Rule Mining,InvoiceNo,Description,9495,8,N
3,bank,Multivariate,Classification (Binary),deposit,NaN,45211,17,N
4,blood,Multivariate,Classification (Binary),Class,NaN,748,5,N
5,cancer,Multivariate,Classification (Binary),Class,NaN,683,10,N
6,credit,Multivariate,Classification (Binary),default,NaN,24000,24,N
7,diabetes,Multivariate,Classification (Binary),Class variable,NaN,768,9,N
8,electrical_grid,Multivariate,Classification (Binary),stabf,NaN,10000,14,N
9,employee,Multivariate,Classification (Binary),left,NaN,14999,10,N
10,heart,Multivariate,Classification (Binary),DEATH,NaN,200,16,N
11,heart_disease,Multivariate,Classification (Binary),Disease,NaN,270,14,N
12,hepatitis,Multivariate,Classification (Binary),Class,NaN,154,32,Y
13,income,Multivariate,Classification (Binary),income >50K,NaN,32561,14,Y
14,juice,Multivariate,Classification (Binary),Purchase,NaN,1070,15,N
15,nba,Multivariate,Classification (Binary),TARGET_5Yrs,NaN,1340,21,N
16,wine,Multivariate,Classification (Binary),type,NaN,6498,13,N
17,telescope,Multivariate,Classification (Binary),Class,NaN,19020,11,N
18,titanic,Multivariate,Classification (Binary),Survived,NaN,891,11,Y
19,us_presidential_election_results,Multivariate,Classification (Binary),party_winner,NaN,497,7,N
20,glass,Multivariate,Classification (Multiclass),Type,NaN,214,10,N
21,iris,Multivariate,Classification (Multiclass),species,NaN,150,5,N
22,poker,Multivariate,Classification (Multiclass),CLASS,NaN,100000,11,N
23,questions,Multivariate,Classification (Multiclass),Next_Question,NaN,499,4,N
24,satellite,Multivariate,Classification (Multiclass),Class,NaN,6435,37,N
25,CTG,Multivariate,Classification (Multiclass),NSP,NaN,2129,40,Y
26,asia_gdp,Multivariate,Clustering,NaN,NaN,40,11,N
27,elections,Multivariate,Clustering,NaN,NaN,3195,54,Y
28,facebook,Multivariate,Clustering,NaN,NaN,7050,12,N
29,ipl,Multivariate,Clustering,NaN,NaN,153,25,N
30,jewellery,Multivariate,Clustering,NaN,NaN,505,4,N
31,mice,Multivariate,Clustering,NaN,NaN,1080,82,Y
32,migration,Multivariate,Clustering,NaN,NaN,233,12,N
33,perfume,Multivariate,Clustering,NaN,NaN,20,29,N
34,pokemon,Multivariate,Clustering,NaN,NaN,800,13,Y
35,population,Multivariate,Clustering,NaN,NaN,255,56,Y
36,public_health,Multivariate,Clustering,NaN,NaN,224,21,N
37,seeds,Multivariate,Clustering,NaN,NaN,210,7,N
38,wholesale,Multivariate,Clustering,NaN,NaN,440,8,N
39,tweets,Text,NLP,tweet,NaN,8594,2,N
40,amazon,Text,NLP / Classification,reviewText,NaN,20000,2,N
41,kiva,Text,NLP / Classification,en,NaN,6818,7,N
42,spx,Text,NLP / Regression,text,NaN,874,4,N
43,wikipedia,Text,NLP / Classification,Text,NaN,500,3,N
44,automobile,Multivariate,Regression,price,NaN,202,26,Y
45,bike,Multivariate,Regression,cnt,NaN,17379,15,N
46,boston,Multivariate,Regression,medv,NaN,506,14,N
47,concrete,Multivariate,Regression,strength,NaN,1030,9,N
48,diamond,Multivariate,Regression,Price,NaN,6000,8,N
49,energy,Multivariate,Regression,Heating Load,Cooling Load,768,10,N
50,forest,Multivariate,Regression,area,NaN,517,13,N
51,gold,Multivariate,Regression,Gold_T+22,NaN,2558,121,N
52,house,Multivariate,Regression,SalePrice,NaN,1461,81,Y
53,insurance,Multivariate,Regression,charges,NaN,1338,7,N
54,parkinsons,Multivariate,Regression,PPE,NaN,5875,22,N
55,traffic,Multivariate,Regression,traffic_volume,NaN,48204,8,N

,Dataset,Data Types,Default Task,Target Variable 1,Target Variable 2,# Instances,# Attributes,Missing Values
0,anomaly,Multivariate,Anomaly Detection,NaN,NaN,1000,10,N
1,france,Multivariate,Association Rule Mining,InvoiceNo,Description,8557,8,N
2,germany,Multivariate,Association Rule Mining,InvoiceNo,Description,9495,8,N
3,bank,Multivariate,Classification (Binary),deposit,NaN,45211,17,N
4,blood,Multivariate,Classification (Binary),Class,NaN,748,5,N
5,cancer,Multivariate,Classification (Binary),Class,NaN,683,10,N
6,credit,Multivariate,Classification (Binary),default,NaN,24000,24,N
7,diabetes,Multivariate,Classification (Binary),Class variable,NaN,768,9,N
8,electrical_grid,Multivariate,Classification (Binary),stabf,NaN,10000,14,N
9,employee,Multivariate,Classification (Binary),left,NaN,14999,10,N
10,heart,Multivariate,Classification (Binary),DEATH,NaN,200,16,N
11,heart_disease,Multivariate,Classification (Binary),Disease,NaN,270,14,N
12,hepatitis,Multivariate,Classification (Binary),Class,NaN,154,32,Y
13,income,Multivariate,Classification (Binary),income >50K,NaN,32561,14,Y
14,juice,Multivariate,Classification (Binary),Purchase,NaN,1070,15,N
15,nba,Multivariate,Classification (Binary),TARGET_5Yrs,NaN,1340,21,N
16,wine,Multivariate,Classification (Binary),type,NaN,6498,13,N
17,telescope,Multivariate,Classification (Binary),Class,NaN,19020,11,N
18,titanic,Multivariate,Classification (Binary),Survived,NaN,891,11,Y
19,us_presidential_election_results,Multivariate,Classification (Binary),party_winner,NaN,497,7,N
20,glass,Multivariate,Classification (Multiclass),Type,NaN,214,10,N
21,iris,Multivariate,Classification (Multiclass),species,NaN,150,5,N
22,poker,Multivariate,Classification (Multiclass),CLASS,NaN,100000,11,N
23,questions,Multivariate,Classification (Multiclass),Next_Question,NaN,499,4,N
24,satellite,Multivariate,Classification (Multiclass),Class,NaN,6435,37,N
25,CTG,Multivariate,Classification (Multiclass),NSP,NaN,2129,40,Y
26,asia_gdp,Multivariate,Clustering,NaN,NaN,40,11,N
27,elections,Multivariate,Clustering,NaN,NaN,3195,54,Y
28,facebook,Multivariate,Clustering,NaN,NaN,7050,12,N
29,ipl,Multivariate,Clustering,NaN,NaN,153,25,N
30,jewellery,Multivariate,Clustering,NaN,NaN,505,4,N
31,mice,Multivariate,Clustering,NaN,NaN,1080,82,Y
32,migration,Multivariate,Clustering,NaN,NaN,233,12,N
33,perfume,Multivariate,Clustering,NaN,NaN,20,29,N
34,pokemon,Multivariate,Clustering,NaN,NaN,800,13,Y
35,population,Multivariate,Clustering,NaN,NaN,255,56,Y
36,public_health,Multivariate,Clustering,NaN,NaN,224,21,N
37,seeds,Multivariate,Clustering,NaN,NaN,210,7,N
38,wholesale,Multivariate,Clustering,NaN,NaN,440,8,N
39,tweets,Text,NLP,tweet,NaN,8594,2,N
40,amazon,Text,NLP / Classification,reviewText,NaN,20000,2,N
41,kiva,Text,NLP / Classification,en,NaN,6818,7,N
42,spx,Text,NLP / Regression,text,NaN,874,4,N
43,wikipedia,Text,NLP / Classification,Text,NaN,500,3,N
44,automobile,Multivariate,Regression,price,NaN,202,26,Y
45,bike,Multivariate,Regression,cnt,NaN,17379,15,N
46,boston,Multivariate,Regression,medv,NaN,506,14,N
47,concrete,Multivariate,Regression,strength,NaN,1030,9,N
48,diamond,Multivariate,Regression,Price,NaN,6000,8,N
49,energy,Multivariate,Regression,Heating Load,Cooling Load,768,10,N
50,forest,Multivariate,Regression,area,NaN,517,13,N
51,gold,Multivariate,Regression,Gold_T+22,NaN,2558,121,N
52,house,Multivariate,Regression,SalePrice,NaN,1461,81,Y
53,insurance,Multivariate,Regression,charges,NaN,1338,7,N
54,parkinsons,Multivariate,Regression,PPE,NaN,5875,22,N
55,traffic,Multivariate,Regression,traffic_volume,NaN,48204,8,N

In [4]:
from pycaret.regression import *
s=RegressionExperiment()
s.setup ( data, target='Heating Load' )

In [5]:
best=s.compare_models()

In [6]:
print(best)

ExtraTreesRegressor(n_jobs=-1, random_state=8542)

In [7]:
predictions= s.predict_model(best, data=data)

In [8]:
predictions.head()

,Relative Compactness,Surface Area,Wall Area,Roof Area,Overall Height,Orientation,Glazing Area,Glazing Area Distribution,Cooling Load,Heating Load,prediction_label
0,0.98,514.5,294.0,110.25,7.0,2,0.0,0,21.330000,15.55,15.55
1,0.98,514.5,294.0,110.25,7.0,3,0.0,0,21.330000,15.55,15.55
2,0.98,514.5,294.0,110.25,7.0,4,0.0,0,21.330000,15.55,15.55
3,0.98,514.5,294.0,110.25,7.0,5,0.0,0,21.330000,15.55,15.55
4,0.90,563.5,318.5,122.50,7.0,2,0.0,0,28.280001,20.84,20.84

In [9]:
s.save_model(best,'my_best_pipeline')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Relative Compactness',
                                              'Surface Area', 'Wall Area',
                                              'Roof Area', 'Overall Height',
                                              'Orientation', 'Glazing Area',
                                              'Glazing Area Distribution',
                                              'Cooling Load'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('trained_model',
                  ExtraTreesRegressor(n_jobs=-1, random_state=8542))]),
 'my_best_pipeline.pkl')